.body{
   font-family: 'Times New Roman';
}
.navbar{
    padding-left: 150px;
    padding-top: 5px;
}
.icons{
    float: right;
    padding-right: 150px;
}
.ic{
    padding: 5px;
}
.container{
    border: 5px gray;
    box-shadow: 0px 10px 15px 5px black;
    top: 20px;
    left: 150px;
    border-radius: 10px;
    background-color: grey;
    width: 1030px;
    height: 700px;
    position: relative;
}
.img{
    padding-left: 100px;
    padding-top: 50px;
}
.name{
    font-weight: bolder;
    padding-left: 40%;
    margin-top: -20%;
    color: white;
}
.name-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url("Images/bcimg.png");
    height: 200px;
}
.btn{
    font-weight: bolder;
    background-color: rgb(216, 211, 211);
    color: black;
    border-style: none;
    border-radius: 20px;
    height: 30px;
    padding: 7px;
}
.btn:hover{
    border-color: white;
    background-color: green;
    color: white;
}

.content-container{
    background-color: white;
    height: 500px;
}
.row1{
    padding-top: 25px;
    line-height: 25px;
}
.row1,
.row2{
    font-size: 16px;
    padding-left: 100px;
}
.column {
    float: left;
    width: 50%;
  }
  .con{
    margin-right: 50px;
  }
  .bar-container {
    height: 10px;
    width: 75%;
    background-color:  rgb(216, 211, 211);
    text-align: center;
    color: white;
  }

.bar-1 {width: 80%; height: 10px; background-color: blue}
.bar-2 {width: 70%; height: 10px; background-color: blue;}
.bar-3 {width: 50%; height: 10px; background-color: blue}
.bar-4 {width: 60%; height: 10px; background-color: green}
.bar-5 {width: 50%; height: 10px; background-color: green}
.bar-6 {width: 60%; height: 10px; background-color: green}